@media all  {
	#ui-block-left, #ui-block-right { 
		width: 100%; 
		float: none; 
	}
	.controls .ui-btn-inner {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#div-delay-a { display: none; margin: 0; }
	#div-delay-b { display: inline-block; margin: 0; }
	#popup-mediaselect-popup { width:90%; }
}

@media all and (min-width: 40em) {
	#main-content.ui-content  {
		padding: 0 5px;
	}
	#ui-block-left { 
		width: 49.8%; 
		float: left;
		margin-right: 0.4%;
	}
	#ui-block-right  {
		width: 49.8%; 
		float: right;
	}
	#div-delay-a { display: inline-block; }
	#div-delay-b { display: none; }
	#popup-mediaselect-popup { width:80%; }
}

@media all and (min-width: 48em) {
	#main-content.ui-content  {
		padding: 15px;
	}
	#ui-block-left { 
		width: 47.5%;
		float: left;
		margin-right: 5%;
	}
	#ui-block-right  {
		width: 47.5%; 
		float: right;
	}
	#details, #div-slider, #div-mediacontrol, #div-delay-a {
		margin-top: 25px;
	}
	.controls .ui-btn-inner {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.ui-btn-inner {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#popup-mediaselect-popup { width:60%; }
}

.ui-listview-inset {
	margin-top: 0 !important;
}

#song-position {
	margin-bottom: 0px;
	margin-top: 10px;
}

.ui-slider-input {
    display : none !important;
}
.ui-slider-track {
	margin: 0 15px 0 15px;
}

div.ui-slider {
	margin-bottom: 0px;
}

.ui-icon-play {
	background-image: url('images/icon-white-circleplay.png');
	background-color: #FFF;
	background-size: 18px;
}
.ui-icon-pause {
	background-image: url('images/icon-white-circlepause.png');
	background-color: #FFF;
	background-size: 18px;
}
.ui-icon-stop {
	background-image: url('images/icon-white-circlestop.png');
	background-color: #FFF;
	background-size: 18px;
}
.delaying {
	color: red;
	
}

.debug-console {
	color:yellow;
	border: 1px solid black;
	font-size: 0.8em;
	position: absolute;
	overflow: hidden;
	height: 150px;
	width: 250px;
	background-color: grey;
	opacity: .8;
	z-index: 10;
	top: 400px;
	left: 5px;
	padding-left: 5px;
}
.debug-console span {
	color:green;
	font-size: 0.8em;
	background-color: #333;
}

pre { font-size: 0.7em }
.key { color: blue }
.string { color: green }
.number { color: red }
.boolean { color: yellow }
.null { color: darkyellow }

.ui-controlgroup {
	display:inline-block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 100%; 
	text-align: center;
}


.ui-btn-up-c {
	border: none;
}

.ui-btn-inner {
	font-size: 1.1em;
}

.ui-li-has-count .ui-li-count {
	font-size: 0.7em;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	padding: 1em 15px;
}

.filesystem {
	color: black; 
	font-size: 0.8em;
	text-align: center;
	vertical-align:bottom;	
	display: inline-block;
	overflow: hidden;
	width: 80px;
	height: 70px;
	margin: 3px;
	padding: 2px;
	font-weight: bold;
	border: 1px solid #222;
	word-wrap: break-word;
	background-repeat:no-repeat;
	background-position:center; 
}

#config, #filesystem {
	z-index: 2;
}

.files {
	background-image: url('images/icon-file.png');
}

.folders { 
	background-image: url('images/icon-dir.png');
	text-weight: bold;
}

.parent {
	font-size:0em;
	background-image: url('images/icon-parent.png');	
}

.filesystem:active {
	background-color: lightblue;
}

.ui-slider-track .ui-btn.ui-slider-handle {
	width: 38px;
}

.ui-slider-track {
	height: 20px;
}

#aboutimg {
	background-image: url('../img/logo.png');
	background-repeat:no-repeat;
	background-position:center; 
	height: 96px;
	width: 96px;
}

#about, #assist-1 {
	opacity: 0.9;
	max-width: 25em;
}

#ui-icon-about
{
    background: url('images/logo-72.png');
	background-repeat:no-repeat;
	background-position:center; 
	height: 32px;
	width: 32px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
    position: fixed;
    bottom: 0;
    right: 0;	
	z-index: 1;
}

.small {
	opacity: 0.7;
	font-size: 0.7em;
}

.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#ui-block-right {
	margin-top: 0.5em;
}

#div-delay-a, #div-delay-b {
	display:inline-block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 100%; 
	text-align: center;
}